.App {
  text-align: center;
}

.App-banner-container {
  height: 20vmax;
  width: 100vmax;
  overflow: hidden;
  margin: 0 auto;
}

.App-banner {
  width: 100vmax;
  top: -100%;
  position: relative;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  color: #f7f5ec;

}

.App-link {
  color: #61dafb;
}

.App-body {
  margin: 0;
  width: 100vmax;
  height: 55vmax;
  background-color: rgb(192, 223, 212);
}

.App-footer {
  background-color: #282c34;
  height: 10vmax;
  width: 100vmax;
  padding: 2vmax 0;
  margin: 0;
  color: #f7f5ec;
}

.App-main {
  font-weight: bold;
}

.Nav-bar {
  padding: 5px;
  background-color: #f7f5ec;
  margin: 0;
}

.Nav-bar a {
  text-decoration: none;
  padding: 1vmax;
  font-weight: bold;
  color: #2d8ba5;
}

.Nav-bar a:visited {
  color: #9054c9;
}